.c-btn {
  padding: 14px 32px;
  border-radius: 30px;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  cursor: pointer;
  border: none;
  transition: background .3s;
}

.c-btn--primary {
  color:  $white;
  background: $pink;
  &:hover {
    background: darken($pink, 10%);
  }
}