.c-main-menu__list {
  
  li+li {
    margin-left: 16px;
  }

  display: flex;
  @include md {
    display: none;
  }
  
  li+li::before {
    content: '';
    display: inline-block;
    background: $blue;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    margin-right: 16px;
    margin-bottom: 2px;
  }
}

.c-main-menu__item:hover {
  color: $pink;
}

.c-main-menu__hamburger {
  display: none;
    @include md {
      display: block;
      background-color: transparent;
      border: 0;
      color: $blue;
      font-size: 24px;
      cursor: pointer;
      &:focus {
        outline: none;
      }
  }
}

.c-main-menu__list.show {
  display: flex;
}





