.c-main-menu__list {
  
  li+li {
    margin-left: 16px;
  }

  li+li::before {
    content: '';
    display: inline-block;
    background: $blue;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    margin-right: 16px;
    margin-bottom: 2px;
    @include sm {
      display: none;
    }
  }

  display: flex;

  @include md {
    display: none;
  }
  
  
}

.c-main-menu__item:hover {
  color: $pink;
}

.c-main-menu__hamburger {
  display: none;
    @include md {
      position: absolute;
      top: 34px;
      right: 15px;
      display: block;
      background-color: transparent;
      border: 0;
      color: $blue;
      font-size: 24px;
      @include z-index(navigator);
      cursor: pointer;
      &:focus {
        outline: none;
      }
  }
}

.c-main-menu__list.show {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-inline-start: 0;
  margin-top: 24px;
}





