body {
  font-family: 'Montserrat', sans-serif;
  background: $grey;
  color: $black;
  height: 100vh;
}

html {
  /* a cada 1rem será considera 10px */
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

a { 
  text-decoration: none;
  color: inherit;
  transition: color .2s;
}

ul {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}



