// Color system
$grey: #E2E5FE;
$black: #222;
$blue: #273BBE;
$pink: #CC42D4;
$white: #fff;
// Fonts
$font-paragraph: 16px;
$line-height-general: 24px;
$line-height-lg: 58px;
$font-size-h1: 48px;
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-bold: 700;
