// Color system
$grey: #F1F3FE;
$black: #222;
$blue: #273BBE;
$pink: #CC42D4;
$white: #fff;
// Fonts
$font-paragraph: 1.6rem;
$line-height-general: 2.4rem;
$line-height-lg: 5.8rem;
$font-size-h1: 6.4rem;
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-bold: 700;
