.l-footer {
  margin-top: 72px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  @include sm {
    margin-top: 42px;
  }

  .c-help {
    @include sm {
      margin: 0 auto;
    }

  .c-help__avatar  {
    @include sm {
      display: none;
    }
  }
  }

  .c-scroll {
    @include sm {
      display: none;
    }
  }

  .c-scroll__text {
    @include sm {
      display: none;
    }
  }

}