.l-header__inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 32px;
    
    .c-user-area__link {
        margin-right: 16px;
    }
}

.l-header__inner.block {
    display: block;
}


