.l-main {
  margin-top: 72px;
  display: flex;
  justify-content: space-between;

  @include sm {
    margin-top: 32px;
    flex-direction: column;
    text-align: center;
  }

  .l-main__img {
    margin-right: 42px;
  }

}

.l-main__content {
  .l-main__title {
    max-width: 720px;
    margin-bottom: 24px;
    @include md {
      font-size: 4.8rem;
      line-height: 5.8rem;
    }
    @include sm {
      font-size: 3.5rem;
      line-height: 4.2rem;
    }
    
  }
  .l-main__text {
    max-width: 380px;
    padding-bottom: 40px;
    font-size: 1.8rem;
    line-height: 2.7rem;
    opacity: .6;
    @include sm {
      font-size: 1.6rem;
      line-height: 2.3rem;
      margin: 0 auto;
    }
  }
  @include sm {
    .l-main__btn {
      margin: 0 auto;
    }
  }


  .l-container {
    max-width: 300px;
  }

}


